@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
  }

  a {
    @apply text-orange-600 hover:text-orange-700 active:text-orange-800;
  }
}

::view-transition-old(sub-page-title),
::view-transition-new(sub-page-title) {
  animation-duration: 200ms;
}
